.header-text {
  text-align: center;
}

.section-heading {
  font-family: Arial;
}

.section {
  background-color: green;
  color: white;
}

.cyan {
  color: cyan;
}

#strike {
  text-decoration: line-through;
}
